<ion-view view-title="signIn">
  <ion-content >
    <div class="list padding">
      <img  class="title" src="img/equifax-logo2.png" style="text-align: center;">
      <label class="item item-input item-floating-label input-calm">
        <span class="input-label">EMPLOYEE CODE</span>
        <input type="text" placeholder="EMPLOYEE CODE">
      </label>
      <label class="item item-input item-floating-label input-calm">
        <span class="input-label">USER ID</span>
        <input type="text" placeholder="USER ID">
      </label>
      <label class="item item-input item-floating-label input-calm">
        <span class="input-label">PIN/PASSCODE</span>
        <input type="text" placeholder="PIN/PASSCODE">
      </label>
      <div class="padding">
        <button class="button button-block button-positive" ng-click="logNav()">LOGIN</button>
      </div>
    </div>
  </ion-content>
</ion-view>
